$brand_blue: #5eb8de;
$brand_aqua: #0fe9c1;
$brand_purple: #973f99;
$base_font_size: 16px;
$site_margin: 20px;

.poppinsBold {
  font-family: "Poppins";
  font-weight: bold;
}
.poppinsExtraBold {
  font-family: "Poppins";
  font-weight: 800;
}
.poppinsSemiBold {
  font-family: "Poppins";
  font-weight: 600;
}
