$brand_blue: #5eb8de;
$brand_aqua: #0fe9c1;
$brand_purple: #973f99;
$brand_black: #272727;
$base_font_size: 16px;
$mobile_margin: 20px;
$breakpoint: 850px;

.poppinsBold {
  font-family: "Poppins";
  font-weight: bold;
}
.poppinsExtraBold {
  font-family: "Poppins";
  font-weight: 800;
}
.poppinsSemiBold {
  font-family: "Poppins";
  font-weight: 600;
}
.poppins {
  font-family: "Poppins";
}

@media (min-width: $breakpoint) {
}
